@import "vars";
@import "libs";
@import "fonts";
@import "global";
.header{
    position: relative;
    height: 100vh;
}

.header__slider{
    &-item{
        background-image: url(../img/header-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        position: relative;
    }
}

.slider-item__info{
    position: absolute;
    right: 80px;
    bottom: 115px;
    color: #fff;
    text-align: right;
    text-transform: uppercase;
}
.slider-item__info-suptitle{
    margin-bottom: 5px;
}
.slider-item__info-title{
    font-weight: 800;
    font-size: 80px;
    line-height: 86px;
    margin-bottom: 35px;
}
.slider-item__info-suptext{
    margin-bottom: 8px;
}
.slider-item__info-text{
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 20px;
}
.slider__arrows{
    position: absolute;
    top: 40px;
    right: 80px;
    cursor: pointer;
    z-index: 4;
}
.slider__arrows-left{
    right: 125px;
}
.slider-dotshead{
    position: absolute;
    right: 50px;
    bottom: 40px;
    max-width: 920px;
    width: 100%;
    color: white;
    .slick-current{
        .dots-box{
            border-top: 4px solid $green;
        }
    }
}
.dots-box{
    width: 200px;
    display: flex;
    justify-content: space-between;
    height: 28px;
    align-items: center;
    border-top: 4px solid #fff;
    padding-top: 5px;
    &__number{
        font-weight: 800;
        font-size: 24px;
        line-height: 34px;
    }
    &__name{
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        text-transform: capitalize;
    }
}
.slider-dots__item{
    width: 200px;
}



.header__title{
    color: #fff;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    font-weight: 800;
    font-size: 200px;
    line-height: 156px;
    opacity: 0.07;
    width: 467px;
}
.header__aside{
    position: absolute;
    z-index: 1;
    border-right: 1px solid rgba(#fff, .25);
    height: 100vh;
    text-align: center;
}
.logo{
    margin-bottom: 50px;
}
.menu{ 
   a{
    color: #fff;
    margin-bottom: 25px;
    text-decoration: none;
    span{
        display: block;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 3px;
        padding-top: 6px;
        text-transform: capitalize;
       }
   }
}
.header__date{
    font-weight: 800;
    font-size: 72px;
    line-height: 64px;
    color: #fff;
    margin-top: 20px;
    
    span{
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        display: block;
        letter-spacing: 1.4px;
    }
}
.header__location{
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    margin-top: 20px;
    position: relative;
    padding-left: 15px;
    display: inline-block;
    text-transform: capitalize;
    &::before{
        position: absolute;
        content: "";
        background-image: url(../img/marker.svg);
        top: 0;
        left: 0px;
        width: 11px;
        height: 13px;
    }
}
.header__map{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}
.header__arrows a{
    position: absolute;
    bottom: 40px;
    left: 210px;  
}

.line-animation{
    stroke-dasharray: 560;
    stroke-dashoffset: 560;
    animation: animdash 5s infinite 6s;
}

@keyframes animdash{
    to{
        stroke-dashoffset: 0;
    }
}

.surf{
    padding: 150px 0px 270px;
    background-image: url(../img/serf-bg.svg);
    background-repeat: no-repeat;
    background-position: right 200px;
    background-size: auto;
}
.surf__subtitle{
    text-align: right;
    margin-top: -80px;
    padding-right: 75px;
    .subtitle__head{
        font-size: 40px;
        font-weight: 800;
        line-height: 86px;
        span{
            font-weight: 300;
            color: #fff;
        }
    }
}

.surf-box{
    &__wrapper{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    &__inner{
        background: rgba(#1C2121, 0.85);
        min-height: 750px;
        &:hover{
            background: rgba(#1C2121, 0.3);
            transition: 0.5s;
            .surf-box__inner-btn{
                display: block;
            }
        }
    }
}
.surf-box__inner-title{
    position: absolute;
    top: 72px;
    left: 40px;
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
    width: 140px;
}
.surf-box__inner-location{
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 8px;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 80px;
    left: 40px;
    width: 0;
    height: 0;
    white-space: nowrap;
    span{
        font-weight: 100;
    }
}
.surf-box__inner-btn{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
    a{
        color: #fff;
        text-decoration: none;
    }
}
.surf-slider{
    padding-top: 110px;
    .slider__arrows{
        opacity: 0.25;
    }
    .slick-slide:nth-child(4n + 1){
        .surf-box{
            margin-top: 32px;
        }
    }
    .slick-slide:nth-child(4n + 3){
        .surf-box{
            margin-top: 89px;
        }
    }
    .slick-current{
        .surf-box__inner-btn{
            display: block;
        }
        .surf-box__inner{
            background: rgba(#1C2121, 0.2);
        }    
    }  
}


.slider-map{
    max-width: 1200px;
    width: 100%;
    min-height: 635px;
    background-image: url(../img/world-map-dots.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    background-position: center;
    .slick-list{
        min-height: 635px;
        overflow: visible;
    }
    .slick-current{
        .slider-dots__content{
            display: block;
            width: 285px;
            padding: 28px 31px 0px 32px;     
        }    
    }
}

.slider-dots__content-row{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.slider-dots__content-head{
    position: relative;
}
.slider-dots__content-title{
    font-size: 18px;
    line-height: 26px;
    font-weight: 800;
    position: relative;
    margin-bottom: 15px;
    &:after{
        position: absolute;
        content: "";
        width: 80px;
        height: 1px;
        background-color: $green;
        bottom: -10px;
    }
}
.slider-dots__content-subtitle{
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.slider-dots__content-item{
    text-align: center;
    img{
        margin: 0 auto;
        margin-bottom: 7px;
    }
}
.slider-dots__content-number{
    font-size: 16px;
    line-height: 23px;
    font-weight: 800;
    padding-top: 7px;
    padding-bottom: 7px;
}
.slider-dots__content-name{
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
}
.slider-dots__content-link{
    position: absolute;
    top: 3px;
    right: -90px;
    cursor: pointer;
    z-index: 4;
}

.slider-dots__circle{
    width: 23px;
    height: 23px;
    background-color: $green;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
}

.slider-dots__content{
    display: none;
    background-color: rgba(#0F1010, 0.7);
    border-radius: 10px;
    position: absolute;
    bottom: 40px;
    transform: translateX(-50%);
    &:before{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 24px solid $green;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-radius: 10px;
        bottom: -27px;
        left: 50%;
    }
}

.slider-dots{
    position: relative;
    
}

.slider-dots--1{
    top: 330px;
    .slider-dots__content{
        transform: translate(0);
        &::before{
            left: -0.2%;
        }
    }
}

.slider-dots--2{
    top: 290px;
    left: -5%;
    .slider-dots__circle{
        position: relative;
        &::after{
            content: url(../img/mini-marker.svg);
            position: absolute;
            // background-image: url(../img/mini-marker.svg);
            // width: 14px;
            // height: 17px;
            // background-size: cover;
            top: -20px;
            left: 25px;
            opacity: 0.6;
        }
    }
}

.slider-dots--3{
    top: 320px;
    left: 15%;
}

.slider-dots--4{
    top: 500px;
    left: -24%;
}

.slider-dots--5{
    top: 210px;
    left: -40%;
}

.slider-dots--6{
    top: 550px;
    left: -76%;
}

.slider-dots--7{
    top: 390px;
    left: -65%;
}

.slider-dots--8{
    top: 520px;
    left: 20%;
    .slider-dots__content{
        transform: translate(-262px);
        &::before{
            right: 0;
            left: auto;
        }
    }
}




.holder{
    background-image: url(../img/coctail-bg.png);
    &.sleep{
        background-image: url(../img/flower.png);
        margin-bottom: 100px;
        padding-bottom: 100px;
    }
    padding-bottom: 310px;
    
    background-position: bottom right;
    background-repeat: no-repeat;
}
.holder-slider{
    &__head{
        background-repeat: no-repeat;
        background-position: top left;
        min-height: 780px;
    }
    &__subtitle{
        text-align: right;
        padding-top: 130px;
    }
    &__descr{
        padding-top: 160px;
        margin-left: 135px;
        margin-top: -230px;
        min-height: 320px;
        background-position: right center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &__btn{
        text-align: center;
        a{
            color: #fff;
            text-decoration: none;
        }
    }
}
.descr__head{
    font-weight: 800;
    font-size: 40px;
}
.holder__slider-info{
    display: flex;
    justify-content: space-around;
    &__item{
        width: 255px;
        min-height: 260px;
        position: relative;
    }
    &__subtitle{
        font-size: 18px;
        line-height: 22px;
        opacity: 0.5;
        transform: rotate(-90deg);
        position: absolute;
        text-align: right;
        letter-spacing: 8px;
        white-space: nowrap;
        top: 100px;
        left: -100px;
        width: 200px;
        height: 0;
        
    }
    &__title{
        font-size: 40px;
        font-weight: 800;
        padding-left: 40px;
        .holder-pricing__span{
            font-size: 14px;
            line-height: 36px;
            display: block;
            text-align: right;
            opacity: 0.75;
            letter-spacing: 5px;
            font-weight: 400;    
        }
    }
}
.holder__slider{
    .slider__arrows{
        top: 180px;
        opacity: 0.25;
    }
}
.descr__head,
.shop__slider-star{
    display: flex;
    li{
        margin-top: -5px;
        margin-left: -15px;
    }
    ul{
        display: flex;
        margin-left: 20px;
    }
}


.shop{
    background-image: url(../img/shop-bg.png);
    background-repeat: no-repeat;
    background-position: center right;
    .slider__arrows{
        opacity: 0.25;
        top: 0px;
    }
}

.descr__head-shop{
    max-width: 340px;
    width: 100%;
}
.shop__slider{
    margin-left: 132px;
}
.shop__slider-star{
    display: block;
    margin-top: 45px;
    ul{
    margin-left: 0px;
    }
}
.shop__slider-inner{
    display: flex;
    justify-content: space-between;
  
}
.shop__slider-info{
    margin-top: 150px;
}
.shop__slider-star__price{
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    span{
        font-size: 18px;
    }
}
.shop-slider__btn{
    margin-top: 64px;
    a{
        color: #fff;
        text-decoration: none;
    }
}
.shop__extras{
    margin-right: 132px;
    margin-top: 400px;
}
.shop__extras-title{
    font-weight: 800;
    font-size: 28px;
    margin-bottom: 25px;
}

.shop__extras-inner{
    display: flex;
    width: 345px;
    justify-content: space-between;
}
.shop__extras-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shop__img{
    min-height: 110px;
}
.shop__extras-name{
    margin-top: 36px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    opacity: 0.5;
}
.shop__extras-price{
    margin-top: 16px;
    font-weight: 800;
    font-size: 18px;
}
.surfboard{
    position: relative;
}
.surfboard-box{
    position: absolute;
    cursor: pointer; 
}

.surfboard__position--one{
    top: 190px;
    left: 170px;
}
.surfboard__position--two{
    top: 265px;
    left: 0;
}
.surfboard__position--three{
    top: 610px;
    left: 53px;
}
.surboard-box__circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    &.active{
        .circle__row{
            transform: translate(-50%, -50%) rotate(0deg);
        }  
    }
}
.circle__row{
    width: 12px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    background-color: $green;
    & + .circle__row{
        transform: translate(-50%, -50%) rotate(90deg);
        
    }
}
.surboard-box__circle.active + .surboard-box__content{
    display: block;
}

.surboard-box__content{
    display: none;
    width: 360px;
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
    padding-left: 104px;
    position: absolute;
    top: -14px;
    left: 38px; 
    &:before{
        position: absolute;
        content: "";
        width: 80px;
        height: 1px;
        background-color: #fff;
        opacity: 0.5;
        top: 24px;
        left: 0;
    }
}
.surfboard__position--three{
    .surboard-box__content{
        display: none;
        width: 360px;
        font-weight: 800;
        font-size: 24px;
        line-height: 24px;
        padding-left: 0;
        padding-right: 104px;
        position: absolute;
        top: -14px;
        left: -380px; 
        &:before{
            position: absolute;
            content: "";
            width: 80px;
            height: 1px;
            background-color: #fff;
            opacity: 0.5;
            top: 24px;
            left: 280px;
        }
    }
}
.footer-slider__btn{
    text-align: center;
    margin-top: 285px;
    a{
        color: #fff;
        text-decoration: none;    
    }
    span{
        padding: 20px 25px 20px 17px;
        &:after{
            display: none;  
        }
    }
    
}

.footer__subtitle{
    text-align: center;
    letter-spacing: 1.05px;
    opacity: 0.5;
    font-weight: 300;
    padding: 27px 0 34px 0
}












@import "media";
